# source code download
pypilot-master
pypilot_data-master

# files generated during packaging
pypilot/*
!pypilot/debian
pypilot/debian/*.ex



# rtimulib2
RTIMULib2-*
rtimulib2-pypilot*
python*
rtimulib2/*
!rtimulib2/debian
