Source: pypilot-0.0.1
Section: unknown
Priority: optional
Maintainer: Sean Depagnier <seandepagnier@gmail.com>
Uploaders: Frederic Guilbault <2@0464.ca>
Build-Depends: debhelper-compat (= 12), dh-python, python3-setuptools, python3-all
Standards-Version: 4.4.1
Homepage: http://pypilot.org

Package: python3-pypilot-0.0.1
Architecture: all
Essential: no
Depends: ${python3:Depends}, ${misc:Depends}
Description: pypilot is an open source marine autopilot.
 a free autopilot for sailboats written in python supporting signalk
